*{
	margin:0;
	padding:0;
}
/*棋盘区*/
.pannel{
	float: left;
	text-align: center;
}
#chessboard{
	display: block;
	margin:20px auto;	
}
/*左侧注释*/
.note{
	width: 400px;
	height: auto;
	padding:20px;
	float: left;
	background-color: snow;
}